<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>

</head>
<body>
    <header class="bg-yellow-300">
        <h1 class="py-6 text-center bold text-2xl font-mono"></h1>

    </header>
    <main class="text-center">
        <h1 class="py-6 text-center bold text-xl font-mono"></h1>
        <div class = "flex py-8 justify-center">
        </div>

        <div class="pt-10">

        </div>
     </main>

    <footer class="bg-yellow-300 fixed bottom-0 w-full">
        <h1 class="py-2 text-center bold font-mono"> Copyright @ Fortnite</h1>
    </footer>
</body>
</html>